/* 
 * Fanwood is an open source font available at 
 * https://www.theleagueofmoveabletype.com/fanwood
 */

@font-face {
    font-family: 'Raleway';
    src: url('../bower_components/raleway/webfonts/raleway_thin-webfont.eot');
    src: url('../bower_components/raleway/webfonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/raleway/webfonts/raleway_thin-webfont.woff') format('woff'),
         url('../bower_components/raleway/webfonts/raleway_thin-webfont.ttf') format('truetype'),
         url('../bower_components/raleway/webfonts/raleway_thin-webfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood';
    src: url('../bower_components/fanwood/webfonts/fanwood-webfont.eot');
    src: url('../bower_components/fanwood/webfonts/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/fanwood/webfonts/fanwood-webfont.woff') format('woff'),
         url('../bower_components/fanwood/webfonts/fanwood-webfont.ttf') format('truetype'),
         url('../bower_components/fanwood/webfonts/fanwood-webfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood Text';
    src: url('../bower_components/fanwood/webfonts/fanwood_text-webfont.eot');
    src: url('../bower_components/fanwood/webfonts/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/fanwood/webfonts/fanwood_text-webfont.woff') format('woff'),
         url('../bower_components/fanwood/webfonts/fanwood_text-webfont.ttf') format('truetype'),
         url('../bower_components/fanwood/webfonts/fanwood_text-webfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood Italic';
    src: url('../bower_components/fanwood/webfonts/fanwood_italic-webfont.eot');
    src: url('../bower_components/fanwood/webfonts/fanwood_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/fanwood/webfonts/fanwood_italic-webfont.woff') format('woff'),
         url('../bower_components/fanwood/webfonts/fanwood_italic-webfont.ttf') format('truetype'),
         url('../bower_components/fanwood/webfonts/fanwood_-italicwebfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding:100px 10%;
  color:#445;
  background:#f8f8f8;
}

nav {
}

#content {
  font-family:'Fanwood Text', serif;
}

hr {
  padding:2px;
  border-top:3px solid #445;
  border-bottom:1px solid #445;
  margin:40px 0;
}

p {
  font-size:22px;
}

h1, h2, h3, h4 {
  font-family:'Fanwood Italic', serif;
}

h1 {
  font-size:10em;
}

#content h1, #content h2, #content h3, #content h4 {
  text-align:center;
}

div.section {
  padding:50px 0 30px;
}

h1 small {
  color:#445;
  font-size:60%;
}

h2 {
  font-size:4em;
  margin:30px 0;
}

h3 {
  font-size:3em;
}

h4 {
  font-size:2em;
}

.center {
  text-align:center;
}

ol {
  font-size:3em;
  padding:40px 30%;
}

ol li {
  padding:0.2em;
}

.btn-default {
  background:#e8e8e8;
}

.hero img {
  margin:0 auto 40px;
}

.hero img.visible-xs {
  width:100%;
}
.hero img.hidden-xs {
  width:75%;
}

.carousel {
  text-align:center;
}

.carousel .item {
  padding:20px;
}

.carousel p {
  color:#889;
}

.carousel .img-circle {
  width:80%;
  margin-bottom:20px;
}

footer {
  text-align:center;
}
